.row{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}
.row .column i{
    padding: 12px;
    border: 1px solid;
    border-radius: 6px;
    color: white;
    background-color: #0D6EFD;
    margin-bottom: 0.5rem;
}
.row .column a{
    color: #0D6EFD;
}
.row .column h3{
    margin-bottom: 10px;
}

.row .column p{
    margin-bottom: 10px;
    width: 70vw; 
    max-width: 350px;
    padding-right: 15px;
}

.row .column a:hover{
    color: #0a58ca;
}

table th tr td p{
    font-size: 30px;
}

table{
    margin: 0 auto;
    padding-left: 120px;
}